WEB/12.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="MyApp.Person">
 <xsd:sequence>
 <xsd:element name="Age" type="xsd:integer"/>
 <xsd:element name="DOB" type="xsd:string"/>
 <xsd:element name="Home" type="s:MyApp.Address"/>
 <xsd:element name="Name" type="xsd:string"/>
 <xsd:element name="Office" type="s:MyApp.Address"/>
 <xsd:element name="SSN" type="xsd:string"/>
 </xsd:sequence>
</xsd:complexType>
</xsd:schema>